.css-21152c-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: #545cd8 !important;
}

.css-1aquho2-MuiTabs-indicator{
    background-color: #545cd8!important;
}

.css-106c1u2-MuiBadge-badge {
    background-color: #545cd8!important;
}